@model GenericContentModel

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="background:url(http://www.readapter.com/wp-content/uploads/2014/02/placeholder.jpg) no-repeat center center; background-size:cover;padding:6em 6em;">
    <h1>@Model.GetValue("Title")</h1>
    @Model.GetValue("Text")
</div>